<div class="loginPanel">
    <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
        <div style="text-align: center;">
            <label class='welcomeLabel'><strong>WELCOME</strong></label>
        </div>
        <div style="padding: 20px;">
            <div class="form-group">
                <input type="text" formControlName="UserName" class="form-control" placeholder="Username"
                    [ngClass]="{'is-invalid': username.errors && (username.touched || username.dirty)}">
                <div class="invalid-feedback">
                    Username is required.
                </div>
            </div>
            <div class="form-group">
                <input type="password" formControlName="Password" class="form-control" placeholder="Password"
                    [ngClass]="{'is-invalid': password.errors && (password.touched || password.dirty)}">
                <div class="invalid-feedback">
                    Password is required.
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-lg btn-block">Sign In</button>
        </div>
    </form>
</div>