<div class="loginPanel">
    <form [formGroup]="service.formModel" autocomplete="off" (ngSubmit)="onSubmit()">
        <div style="text-align: center;">
            <label class='welcomeLabel'><strong>WELCOME</strong></label>
        </div>
        <div style="padding: 20px;">
            <div class="form-group">
                <input type="text" formControlName="UserName" class="form-control" id="UserName" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" formControlName="Password" class="form-control" id="Password"
                    placeholder="Password">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-lg btn-block">Sign In</button>
        </div>
    </form>
</div>