<div class="container">
    <div class="row" style="height: 5em;">
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="nav nav-tabs">
                <li class="nav-item" style="width: 50%;"><a class="nav-link active" data-toggle="tab" href="#SignInPanel"><strong>Sign In</strong></a></li>
                <li class="nav-item" style="width: 50%;"><a class="nav-link" data-toggle="tab" href="#SignUpPanel"><strong>Sign Up</strong></a></li>
            </ul>
            <div class="tab-content">
                <div id="SignInPanel" class="tab-pane fade in active show">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                </div>
                <div id="SignUpPanel" class="tab-pane fade">
                    <app-registration></app-registration>
                </div>
            </div>
        </div>
    </div>
</div>